
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://files.catbox.moe/nzhcfa.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.7);
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

section {
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 10px;
}
